<link rel="stylesheet" href="/css/medicine_view.css">
<h2 style="text-align: center;">A list of your medicines</h2>
<form action="/users/medicines/create" method="POST" class="mt-5 mx-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-auto">
          <input type="text" class="form-control" name="medicine_name" placeholder="Add medicine name" required>
        </div>
        <div class="col-auto">
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required>
        </div>
        <div class="col-auto">
            <label for="time">Time:</label>
            <input type="time" id="time" name="time" required>
        </div>
        <div class="col-auto">
            <input class="btn btn-primary" type="submit" value="Add Timer">
        </div>
    </div>
</form>
<% if (medicineLists.length != 0) { %>
    <table style="width: 95%; margin-left: 3vw;" class="table table-hover mt-5 table-bordered table-primary">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Medicine Name</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>    
            <% let i = 1; %>
            <% for (let medicine of medicineLists) { %>                
                <% for (let date of medicine.dates) { %>
                <tr>
                    <td><%= i %></td>
                    <td><%= medicine.title %></td>
                    <% let revDate = date.date.split("-").reverse().join("-") %>
                    <td><%= revDate %></td>
                    <td><%= date.time %></td>
                    <td><a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                    <td><a href="/users/medicines/delete/?title=<%=medicine.title%>&date=<%=date.date%>&time=<%=date.time%>"><i class="fa-regular fa-trash-can " style="color: #f00;"></i></a></td>
                </tr>            
                    <% i++; %>
                <% } %>
            <% } %>
        </tbody>
    </table>
<% } %>